.container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-weight: bold;
}

.logo {

  
  font-size: 22px;
}
.links {
  display: flex;
  gap: 10px;
  align-items: center;
}
